.modal {
    width: 45%;
    display: none; /* Скрыто по умолчанию */
    background-color: rgb(0,0,0); /* Затемнение фона */
    background-color: rgba(0,0,0,0.1); /* Полупрозрачное затемнение */
    z-index: 1; /* Фон на нижнем слое */
    overflow: auto; /* При необходимости, то появиться прокрутка */
  }
.close {
    float: right;
    font-size:  50px;
    font-weight:  bold;
  }
 
  